* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.wallpaperflare.com%2Fwhite-and-purple-illustration-minimalism-arrows-design-purple-white-wallpaper-198497&psig=AOvVaw1Y5n3YDFrEBBDJ1Q8YJjA0&ust=1645170407442000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNCK-syfhvYCFQAAAAAdAAAAABAE);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 5px 10px 10px #894cc510;
}

#logo {
  color: #894cc5;
  width: fit-content;
  font-size: 30px;
  font-weight: 600;
}
nav {
  color: #894cc5;
  font-size: 20px;
}

#headline {
  display: flex;
  padding: 20px;
  margin: 30px auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

#headline h2 {
  color: #d999eb;
  font-size: 40px;
  padding: 10px 0;
}

#headline p {
  color: #000070;
}

#connect {
  text-transform: capitalize;
  color: #00c7c7;
  padding: 15px 0;
}

#social button{
  color: darkcyan;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  width: fit-content;
  padding: 0 7px;
  font-size: 18px;
}

section {
  background-image: url(./bg.jpg);
    
}
